body {
    /* --font-stack--monospace: "SFMono-Regular",Menlo,Consolas,Lucida Console,monospace; */
    --font-stack--monospace: monospace;
    /* --code-font-size: var(--font-size--small); */
    /* --font-stack--monospace: monospace,Menlo,Consolas,Lucida Console; */
}
/* pre, tt, code { */
/*   font-size: 0.9rem !important; */
/* } */
div.highlight-none pre {
    color: var(--color-foreground-muted);
}
div.highlight-none div.highlight {
    background: var(--color-background-primary);
    border-left-style: solid;
    border-radius: 0px;
    border-color: var(--color-foreground-muted);
    border-width: 0.15rem;    
}
h1 {
    margin-top: 1.2rem;
    padding-bottom: 1.0rem;
    border-bottom: 1px solid var(--color-foreground-border);
    border-radius: 0;
}
h2 {
  margin-top: 2.0rem;
}
h3 {
  margin-top: 1.5rem;
}
.highlight .m {
    color: inherit;
    font-weight: inherit;
}

img {
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    max-width: 80%
}
